// assets/css/pantone_colors.scss


$P_coconut_milk:    #F0EDE5;
$P_black_onyx:      #2B272B;

$P_chili_pepper:    #9B1B30;

$P_nile_green:      #A7C796;
$P_lettuce_green:   #BED38E;
$P_galapagos_green: #29685F;

$P_blue_moon:       #3686A0;
$P_hawaiian_surf:   #0078A7;
$P_palace_blue:     #346CB0;
$P_sailor_blue:     #0E3A53;

$P_peach_beige:     #D3A297;

$P_emperador:       #684832;

$P_copper:          #C47E5A;
$P_sunset_gold:     #F7C46C;
