// assets/css/pantone_colors.scss


$P_coconut_milk:    #F0EDE5;
$P_black_onyx:      #2B272B;

$P_chili_pepper:    #9B1B30;

$P_nile_green:      #A7C796;
$P_lettuce_green:   #BED38E;
$P_galapagos_green: #29685F;

$P_blue_moon:       #3686A0;
$P_hawaiian_surf:   #0078A7;
$P_palace_blue:     #346CB0;
$P_sailor_blue:     #0E3A53;

$P_peach_beige:     #D3A297;

$P_emperador:       #684832;

$P_copper:          #C47E5A;
$P_sunset_gold:     #F7C46C;



/**
 * FASHION COLOR NEW YORK FALL/WINTER 2018
 * https://www.pantone.com/fashion-color-trend-report-new-york-fall-winter-2018
 */
$P_red_pear:      #7B3539;
$P_valiant_poppy: #BC322C;
$P_nebulas_blue:  #2D62A3;
$P_ceylon_yellow: #D4AE40;
$P_martini_olive: #716A4D;
$P_russet_orange: #E47127;
$P_ultra_violet:  #5F4B8B;
$P_crocus_petal:  #B99BC5;
$P_limelight:     #F0E87D;
$P_quetzal_green: #006865;
$P_sargasso_sea:  #35435A;
$P_tofu:          #E8E3D9;
$P_almond_buff:   #CCB390;
$P_quiet_gray:    #B9BABD;
$P_meerkat:       #A46F44;