// assets/css/pantone_colors.scss



/**
 * FASHION COLOR NEW YORK FALL/WINTER 2018
 * https://www.pantone.com/fashion-color-trend-report-new-york-fall-winter-2018
 */
$P_red_pear:      #7B3539;
$P_valiant_poppy: #BC322C;
$P_nebulas_blue:  #2D62A3;
$P_ceylon_yellow: #D4AE40;
$P_martini_olive: #716A4D;
$P_russet_orange: #E47127;
$P_ultra_violet:  #5F4B8B;
$P_crocus_petal:  #B99BC5;
$P_limelight:     #F0E87D;
$P_quetzal_green: #006865;
$P_sargasso_sea:  #35435A;
$P_tofu:          #E8E3D9;
$P_almond_buff:   #CCB390;
$P_quiet_gray:    #B9BABD;
$P_meerkat:       #A46F44;



//------- PANTONE color of the year 2018
//        https://www.pantone.com/color-of-the-year-2018-tools-for-designers
//------- Purple Haze
$P_ultra_violet:    #5F4B8B;
$P_ether:           #9EB6B8;
$P_weeping_willow:  #B3B17B;
$P_tradewinds:      #7F8793;
$P_misty_lilac:     #BCB4C4;
$P_deauville_mauve: #AF9294;
$P_dusty_lavender:  #A1759C;
$P_lavender_violet: #767BA5;

//------- Kindred Spirits
//------- Drama Queen
$P_chili_pepper: #9B1B30;

//------- Intrigue
$P_blue_moon: #3686A0;

//------- Quietude
$P_frosted_almond: #D2C2AC;
$P_ruby_wine:      #77333B;
$P_canyon_rose:    #AF6C67;
$P_burlwood:       #9B716B;
$P_cashmere_rose:  #CE879F;
$P_peach_beige:    #D3A297;
$P_spanish_villa:  #DFBAA9;

//------- Attitude
$P_hawaiian_surf: #0078A7;

//------- Desert Sunset
$P_sunset_gold: #F7C46C;
$P_emberglow:   #EA6759;
$P_hot_pink:    #E55982;
$P_poinciana:   #CA3422;
$P_muskmelon:   #EC935E;

//------- Floral Fantasies
$P_lettuce_green: #BED38E;



//------- PANTONE color of the year 2017
//        https://www.pantone.com/color-of-the-year-2017
//------- Transitions
$P_greenery:   #88B04B;
$P_treetop:    #476A30;

//------- Ethereal Material
$P_periscope:  #46444C;
$P_dull_gold:  #846D3D;

//------- Grand Canyon
$P_black_onyx: #2B272B;

//------- Forest Floor
//------- Rev It Up
//------- Fathomless
$P_online_lime: #44883C;
$P_silver_blue: #8A9A9A;

//------- Analogous
//------- Moody Blooms
//------- Deep Rooted
$P_sepia_tint: #897560;

//------- Calm It Down



//------- PANTONE Fashion Color Report, Spring 2018
//        https://www.pantone.com/fashion-color-trend-report-new-york-spring-2018
//        https://www.pantone.com/fashion-color-trend-report-london-spring-2018
$P_sailor_blue:  #0E3A53;
$P_harbor_mist:  #AFB1B4;
$P_warm_sand:    #C5AE91;
$P_coconut_milk: #F0EDE5;

$P_meadowlark:      #EAD94E;
$P_cherry_tomato:   #EB3C27;
$P_little_blue_boy: #6EA2D5;
$P_chili_oil:       #8E3C36;
$P_pink_lavender:   #D9AFCA;
$P_blooming_dahlia: #EB9687;
$P_arcadia:         #00A28A;
$P_ultra_violet:    #5F4B8B;
$P_emperador:       #684832;
$P_almost_mauve:    #E7DCD9;
$P_spring_crocus:   #BA69A1;
$P_lime_punch:      #C0D725;
$P_palace_blue:     #346CB0;
$P_ash_rose:        #B5817D;
$P_nile_green:      #A7C796;
$P_spiced_apple:    #783937;
$P_rapture_rose:    #D16277;


//------- PANTONE Fashion Color Report, Fall 2017
//        https://www.pantone.com/fashion-color-report-fall-2017
//------- New York
$P_grenadine:      #DF3F32;
$P_tawny_port:     #5C2C35;
$P_ballet_slipper: #EBCED5;
$P_butterum:       #C68F65;
$P_navy_peony:     #223A5E;
$P_neutral_gray:   #8E918F;
$P_shaded_spruce:  #00585E;
$P_golden_lime:    #9A9738;
$P_marina:         #4F84C4;
$P_autumn_maple:   #C46215;

//------- London
$P_flame_scarlet: #CD212A;
$P_primrose_pink: #EED4D9;
$P_toast:         #CA9978;
$P_blue_bell:     #93B4D7;
$P_royal_lilac:   #774D8E;
$P_otter:         #7F674F;
$P_copper_tan:    #DE8E65;
$P_lemon_curry:   #CDA323;
$P_golden_olive:  #AF9841;


//------- PANTONE misc
//        https://www.pantone.com/pantone-color-institute-announces-custom-purple-for-prince-love-symbol-number-two
$P_love_symbol_2:     #563B64;
$P_red_clay:          #C2452D;
$P_chinese_red:       #BE132D;
$P_mars_red:          #BC2731;
$P_aurora_red:        #B93A32;
$P_raspberry_wine:    #B63753;
$P_garnet_rose:       #AC4B55;
$P_american_beauty:   #A73340;
$P_persian_red:       #A21441;
$P_persian_violet:    #8C8EB2;
$P_malaga:            #9F5069;
$P_magenta_haze:      #9D446E;
$P_deep_claret:       #973443;
$P_red_bud:           #962D49;
$P_slate_rose:        #B45865;
$P_pompeian_red:      #A4292E;
$P_amaranth:          #6F3C56;
$P_rose_wine:         #A4596D;
$P_garnet:            #953640;
$P_bordeaux:          #96637B;
$P_dry_rose:          #8C4759;
$P_valerian:          #9F7A93;
$P_thistle_down:      #9499BB;
$P_aragon:            #B06455;
$P_lavender_violet:   #767BA5;
$P_saxony_blue:       #1F6680;
$P_bayou:             #20706F;
$P_adriatic_blue:     #5C899B;
$P_celestial:         #006380;
$P_canton:            #6DA29E;
$P_riviera:           #5879A2;
$P_dusk_blue:         #7BA0C0;
$P_cendre_blue:       #3E7FA5;
$P_orient_blue:       #47457A;
$P_velvet_morning:    #60688D;
$P_porcelain_green:   #108780;
$P_delft:             #3D5E8C;
$P_lyons_blue:        #005871;
$P_galapagos_green:   #29685F;
$P_green_blue_slate:  #358082;
$P_blue_heaven:       #5B7E98;
$P_blue_sapphire:     #09577B;
$P_lagoon:            #4D9E9A;
$P_parisian_blue:     #4F7CA4;
$P_caribbean_sea:     #00819D;
$P_evergreen:         #11574A;
$P_hunter_green:      #335749;
$P_larkspur:          #3C7D90;
$P_turkish_tile:      #00698B;
$P_viridian_green:    #009499;
$P_purple_haze:       #807396;
$P_sunburn:           #B37256;
$P_brittany_blue:     #4C7E86;
$P_baked_clay:        #9C5642;
$P_toasted_nut:       #C08768;
$P_cognac:            #8B645A;
$P_roan_rouge:        #885157;
$P_earth_red:         #95424E;
$P_cedar_wood:        #A1655B;
$P_lion:              #A0714F;
$P_blue_surf:         #90A8A4;
$P_purple_impression: #858FB1;
$P_lilas:             #B88995;
$P_lavender_frost:    #BDABBE;
$P_aquifer:           #89ACAC;
$P_crocus:            #C67FAE;
$P_peach:             #F2A987;
$P_pistachio_green:   #A9D39E;


$P_copper:         #C47E5A;
$P_copper_coin:    #BA6B57;
$P_gold_fusion:    #FFB000;
$P_old_gold:       #ECA825;
$P_artisans_gold:  #F2AB46;
$P_antique_gold:   #B59E5F;
$P_bright_gold:    #CF9F52;
$P_harvest_gold:   #B68A3A;
$P_silver:         #A2A2A1;
$P_quicksilver:    #7E7D88;

//------- Misc
$royal_font_brown: #A97C50;
$royal_font_taupe: #C2B59B;
